// Danger/success are figure/ground
$danger: #460080;
$success: #ffffff;
$link: $danger;
// Info is highlight 
$info: #460080;
$dark: rgba(255, 255, 255, 0);
$shadow-offset: 3px;

:export {
    danger: $danger;
    success: $success;
    link: $link;
    info: $info;
    dark: $dark;
    shadow-offset: $shadow-offset;
}