@charset "utf-8";

@import "_variables.module.scss";

@import "node_modules/bulma/bulma.sass";

#content {
    min-height: 60vh;
  }

@include tablet {
    .tile-image {
        padding-right: 1em;
    }
}

@include mobile {
    .tile-image {
        padding-bottom: 1em;
    }
}

a {
    text-decoration-line: underline;
    text-decoration-style: dashed;
}

a.button {
    text-decoration-line: none;
}

.text-shadow-danger {
    text-shadow: $shadow-offset $shadow-offset $danger;
}

.text-shadow-success {
    text-shadow: $shadow-offset $shadow-offset $success;
}

.box-shadow-danger {
    box-shadow: $shadow-offset $shadow-offset $danger;
}

.box-shadow-white {
    box-shadow: $shadow-offset $shadow-offset $success;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}