@page {
    size: 3.5in 2in;
    bleed: 0.125in;
    marks: crop;
    margin: 0.25in; /* Safe area for text */
}


#target.bizcard {
    margin: 100px;
    background: red;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
}