---
import ContentLayout from '@layouts/ContentLayout.astro'
import People from '@components/People.astro'
import Organization from '@components/Organization.astro'

import data from "@src/config.json";
---
<ContentLayout name={data.name}>
  <div class="columns">
    <div class="column is-one-half">
        <Organization org={data}/>
    </div>
    <div class="column is-one-half">
      <People people={data.people.leadership} />
    </div>
  </div>
</ContentLayout>