---
import ContentLayout from '@layouts/ContentLayout.astro'
import People from '@components/People.astro'
import Organization from '@components/Organization.astro'

import people from "../people.json";
import comp from "../config.json";
---
<ContentLayout name={comp.name}>
  <div class="columns">
    <div class="column is-one-half">
        <Organization org={comp}/>
    </div>
    <div class="column is-one-half">
      <People people={people.leadership} />
    </div>
  </div>
</ContentLayout>