---
interface Props {
  columns?: boolean;
}

const {columns} = Astro.props;
---

<div class={columns ? "column is-half" : ""}>
    <div class="box has-background-danger">
        <slot/>
    </div>
</div>

<style>
    .box {
      box-shadow: 3px 3px white;
    }
</style>