---
interface Props {
  columns?: boolean;
}

const {columns} = Astro.props;
---

<div class={columns ? "column is-half" : ""}>
    <div class="box has-background-success box-shadow-danger">
        <slot/>
    </div>
</div>