---
import { baseColor } from '@ts/helpers'
---

<div class={baseColor}></div>

<style>
    div {
        height: 100%;
        width: 100vw;
        position: fixed;
        top: 0;
        z-index: -3;
    }
</style>