---
import {type NameURLModel } from '@ts/Models';
interface Props {
  title: string;
  subtitle: string;
  parent?: NameURLModel;
}

const { title, subtitle, parent } = Astro.props;
---

<section class="hero is-fullheight">
    <div class="hero-body is-fullwidth" style="z-index:1000">
        <div class="columns is-fullwidth is-vcentered" style="width:100%">
            <div class="column is-one-fifth has-text-centered">
                <img class="image is-inline-block" width="250px" src='/src/assets/logo_medium.png' alt={"Logo of ".concat(title)} />
            </div>
            <div class="column">
                <h1 class="title has-text-danger is-size-1 text-shadow-success"> {title}</h1>
                <p class="subtitle has-text-danger is-size-2 text-shadow-success">{subtitle}</p>
                {parent &&
                    <p class="subtitle has-text-danger is-size-3 text-shadow-success"><a href={parent.url}>{parent.name}</a></p>
                }
            </div>
        </div>
    </div>
</section>