---
import {type NameURLModel } from '@ts/Models';
interface Props {
  title: string;
  subtitle: string;
  logo: string;
  parent?: NameURLModel;
}

const { title, subtitle, parent, logo } = Astro.props;

let photopath = logo && '/src/assets/'.concat(logo);

import { Image } from 'astro:assets';
import ImageBox from './ImageBox.astro';
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif,svg}')

---

<section class="hero is-fullheight">
    <div class="hero-body">
        <ImageBox src="logotype.png" _class="image-shadow" alt="logo"/>
    </div>
</section>