---
interface Props {
  title: string;
  subtitle: string;
  parent: {
    name: string;
    url: string;
  }
}

const { title, subtitle, parent } = Astro.props;
---

<section class="hero is-fullheight">
    <div class="hero-body" style="z-index:1000">
        <div class="">
            <h1 class="title has-text-danger is-size-1 text-shadow-success"> {title}</h1>
            <p class="subtitle has-text-danger is-size-2 text-shadow-success">{subtitle}</p>
            {parent &&
                <p class="subtitle has-text-danger is-size-3 text-shadow-success"><a href={parent.url}>{parent.name}</a></p>
            }
        </div>
    </div>
</section>