---
import {type ImageModel } from '@ts/Models'

interface Props extends ImageModel {};

const {src, alt} = Astro.props;

let photopath = src && '/src/assets/'.concat(src);
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif,svg}')
---

<div class={"tile-image"}>
    <Image src={images[photopath]()} alt={alt} />
</div>