---
import Person from '@components/Person.astro';

interface Props {
  people: {
    name: string;
    photo: string;
    creds?: string[];
    pronouns?: string;
    roles?: string[];
    email: string;
    bio: string;
    skills: string[];
    socials?: {
      url?: string;
      name?: string;
    }[];
  }[];
  columns?: boolean;
}

const { people, columns = false } = Astro.props;
---
<div class={columns ? "columns is-multiline" : ""}>
{
  people.map((person) => (
    <Person {person} columns = {columns} />
  ))
}
</div>