---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
    <section class="section">
        <div class="container">
            <slot/>
        </div>
    </section>
</BaseLayout>